body {
  overflow: hidden;
  display: flex;
  background: #3d3d3d;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c28609;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c28609;
}

#action-menu {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: absolute;
  z-index: 100000 !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  display: flex;
  background-color: #3d3d3d;
  border-bottom: #2d2d2d 2px solid;
  justify-content: space-between;
}
#action-menu .menu-left {
  display: flex;
}
#action-menu .menu-left .action-item {
  padding: 2px 4px;
  margin-right: 4px;
}
#action-menu .menu-left .action-item .submenu {
  display: none;
  position: absolute;
  z-index: 100003;
  min-width: 150px;
  background: #3d3d3d;
  border: #2d2d2d 1px solid;
}
#action-menu .menu-left .action-item .submenu .submenu-item {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border: #2d2d2d 1px solid;
}
#action-menu .menu-left .action-item .submenu .submenu-item .submenu_l {
  display: none;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  z-index: 100003;
  background: #3d3d3d;
  border: #2d2d2d 1px solid;
  min-width: 50px;
}
#action-menu .menu-left .action-item .submenu .submenu-item .submenu_l .submenu_l-item {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border: #2d2d2d 1px solid;
}
#action-menu .menu-left .action-item .submenu .submenu-item .submenu_l .submenu_l-item:hover {
  background: #242424;
}
#action-menu .menu-left .action-item .submenu .submenu-item:hover {
  background: #242424;
}
#action-menu .menu-left .action-item .submenu .submenu-item:hover .submenu_l {
  display: block;
}
#action-menu .menu-left .action-item .submenu .submenu-item span {
  margin: 0 8px;
}
#action-menu .menu-left .action-item:hover {
  cursor: pointer;
}
#action-menu .menu-left .action-item:hover .submenu {
  display: block;
}
#action-menu .menu-left .action-item span {
  color: #bdc3c7;
  font-size: 12px;
}
#action-menu .menu-right {
  display: flex;
}
#action-menu .menu-right .minimize-btn, #action-menu .menu-right .adjust-btn, #action-menu .menu-right .close-btn {
  width: 30px;
  height: 30px;
  background: none;
  right: #bdc3c7 1px solid;
  color: #bdc3c7;
  margin-left: 10px;
  line-height: 30px;
  width: 40px;
  text-align: center;
}
#action-menu .menu-right .minimize-btn i, #action-menu .menu-right .adjust-btn i, #action-menu .menu-right .close-btn i {
  margin: auto;
}
#action-menu .menu-right .minimize-btn:hover, #action-menu .menu-right .adjust-btn:hover, #action-menu .menu-right .close-btn:hover {
  cursor: pointer;
  background: #242424;
}
#action-menu .menu-right .minimize-btn {
  font-size: 14px;
}
#action-menu .menu-right .adjust-btn {
  font-size: 14px;
}
#action-menu .menu-right .close-btn {
  font-size: 18px;
}

#text-editor {
  position: absolute;
  z-index: 100;
  width: 75%;
  height: 50%;
  margin: 0;
  top: 30px;
  left: 0;
}

.results-side-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10001;
  height: calc(50vh - 30px);
  width: 44px;
  background: #242424;
}

.results {
  border-top: #c28609 2px solid;
  position: absolute;
  z-index: 100;
  width: 75%;
  height: calc(50vh - 30px);
  margin: 0;
  padding: 10px 20px;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: #171717;
}
.results table, .results span {
  margin-left: 44px !important;
  color: #fff;
}
.results table thead {
  border-bottom: #bdc3c7 3px solid;
}
.results table thead th, .results table thead td {
  color: #bdc3c7;
  padding: 5px;
  margin-right: 5px;
}
.results table tbody tr {
  border-bottom: #bdc3c7 1px solid;
}
.results table tbody tr td, .results table tbody tr th {
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: #bdc3c7;
}

.results, #text-editor {
  transition: 0.3s;
}
.results.expand, #text-editor.expand {
  width: 100vw;
}

#connection-settings {
  width: 25%;
  height: calc(100vh - 30px);
  position: absolute;
  z-index: 5000;
  right: 0;
  bottom: 0;
  background: #171717;
  padding: 30px;
  border-left: #c28609 2px solid;
  transition: 0.3s;
}
#connection-settings #connect-error-message {
  color: #aa0000;
  margin-top: 40px;
}
#connection-settings .connection-settings-toggle-btn {
  position: absolute;
  z-index: 10001;
  right: 100%;
  border: #c28609 2px solid;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, calc(-50% + 15px));
  background: #333;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
#connection-settings .connection-settings-toggle-btn:hover {
  cursor: pointer;
}
#connection-settings .connection-settings-toggle-btn i {
  background: #fff;
}
#connection-settings.slide {
  transition: 0.3s;
  transform: translateX(25vw);
}
#connection-settings.show {
  display: block;
}
#connection-settings input, #connection-settings button {
  margin-top: 10px;
  width: 100%;
}
#connection-settings input {
  padding: 2px 10px;
}
#connection-settings input:active, #connection-settings input:focus {
  padding: 2px 10px;
  outline: none;
}
#connection-settings button {
  display: block;
  border: none;
  background: #f3a70b;
  padding: 3px 0;
  color: #fff;
  transition: 300ms;
}
#connection-settings button:hover {
  background: #c28609;
  transition: 300ms;
}
#connection-settings button.hide {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
