body {
    overflow: hidden;
    display: flex;
    background: #3d3d3d;

}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: darken(#3d3d3d,10);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darken(rgba(246, 185, 59, 1), 20);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken(rgba(246, 185, 59, 1), 20);
}

#action-menu {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  position: absolute;
  z-index: 100000 !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  display: flex;
  background-color: #3d3d3d;
  border-bottom: #2d2d2d 2px solid;
  justify-content: space-between;
  .menu-left {
    display: flex;
    .action-item {
      padding: 2px 4px;
      margin-right: 4px;
      .submenu {
        display: none;
        position: absolute;
        z-index: 100003;

        min-width: 150px;
        background: #3d3d3d;
        border: #2d2d2d 1px solid;
        .submenu-item {
          display: flex;
          justify-content: space-between;
          padding: 3px;
          border: #2d2d2d 1px solid;
          .submenu_l {
            display: none;
            position: absolute;
            right: 0;
            transform: translateX(100%);
            z-index: 100003;
            background: #3d3d3d;
            border: #2d2d2d 1px solid;
            min-width: 50px;
            .submenu_l-item {
              display: flex;
              justify-content: space-between;
              padding: 3px;
              border: #2d2d2d 1px solid;
              &:hover {
                background: darken(#3d3d3d,10);
              }
            }
          }
          &:hover {
            background: darken(#3d3d3d,10);
            .submenu_l {
              display: block;
            }
          }
          span {
            margin: 0 8px;
          }
        }
      }
      &:hover {
        cursor: pointer;
        .submenu {
          display: block;
        }
      }
      span {
        color:#bdc3c7;
        font-size: 12px;
      }
    }
  }
  .menu-right {
    display: flex;
    .minimize-btn, .adjust-btn, .close-btn {
      width: 30px;
      height: 30px;
      background: none;
      right: #bdc3c7 1px solid;
      color:#bdc3c7;
      margin-left: 10px;
      line-height: 30px;
      width: 40px;
      text-align: center;
      i {
        margin: auto;
      }
      &:hover {
        cursor: pointer;
        background: darken(#3d3d3d, 10);
      }
    }
    .minimize-btn {
      font-size: 14px;
    }
    .adjust-btn {
      font-size: 14px;
    }
    .close-btn {
      font-size: 18px;
    }
  }
}

#text-editor {
    position: absolute;
    z-index: 100;
    width: 75%;
    height: 50%;
    margin: 0;
    top: 30px;
    left: 0;
}

.results-side-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10001;
  height: calc(50vh - 30px);
  width: 44px;
  background: darken(#3d3d3d,10);
}

.results {
    border-top: darken(#f6b93b, 20) 2px solid;
    position: absolute;
    z-index: 100;
    width: 75%;
    height: calc(50vh - 30px);
    margin: 0;
    padding: 10px 20px;
    bottom: 0;
    left: 0;
    overflow: auto;
    background: darken(#3d3d3d, 15);
    table, span {
      margin-left: 44px !important;
      color: #fff;
    }
    table {
        thead {
            border-bottom: #bdc3c7 3px solid;
            th, td {
                color: #bdc3c7;
                padding: 5px;
                margin-right: 5px;
            }
        }
        tbody {
            tr {
                border-bottom: #bdc3c7 1px solid;
                td, th{
                    padding: 5px;
                    margin-right: 5px;
                    font-size: 12px;
                    color: #bdc3c7;
                }
            }
        }
    }
}

.results, #text-editor {
    transition: 0.3s;
    &.expand {
        width: 100vw;
    }
}

#connection-settings {
    width: 25%;
    height: calc(100vh - 30px);
    position: absolute;
    z-index: 5000;
    right: 0;
    bottom: 0;
    background: darken(#3d3d3d,15);
    padding: 30px;
    border-left: darken(#f6b93b, 20) 2px solid;
    transition: 0.3s;
    #connect-error-message {
      color: #aa0000;
      margin-top: 40px;
    }
    .connection-settings-toggle-btn {
        position: absolute;
        z-index: 10001;
        right: 100%;
        border: darken(#f6b93b, 20) 2px solid;
        top: 50%;
        bottom: 50%;
        transform: translate(50%, calc(-50% + 15px));
        background: #333;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
        }
        i {
            background: #fff;
        }
    }
    &.slide {
        transition: 0.3s;
        transform: translateX(25vw);
    }
    &.show {
        display: block;
    }
    input, button {
        margin-top: 10px;
        width: 100%;
    }
    input {

        padding: 2px 10px;
        &:active, &:focus {
            padding:  2px 10px;
            outline: none;
        }
    }
    button {
        display: block;
        border: none;
        background: darken(#f6b93b, 10);
        padding: 3px 0;
        color: #fff;
        transition: 300ms;
        &:hover {
            background: darken(#f6b93b, 20);
            transition: 300ms;
        }
        &.hide {
            display: none !important;
        }
    }
}
